<footer>
    <div class="container full-line">
      <div class="left-foot pull-left">
          <p>adresa:Ul.Ribareva 7, Nova Pazova.</p>
       </div>

       
       <div class="right-foot pull-right">
          
          <p>Copyright&copy; 2016. MNP 05 d.o.o..All rights reserved.</p>
       </div>
    </div>
</footer>