<nav class="navbar  navbar-default">
      <div class="container header-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
	          <a class="navbar-brand " id="logo" href="#">
		          <h2>
		          	<span>"MNP 05" d.o.o.</span>
		          </h2>
	          </a>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li ><a href="#">O nama</a></li>
            <li><a href="#">Galerija</a></li>
            <li><a href="#">Linkovi</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
